/* Variables */

:root {
    --gray: #8D8A95;
    --lightGray: #ECEBEC;
    --midGray: #C1C0C2;
    --darkGray: #515151;
    --blue: #697FB4;
    --white: #fff;
    --cardGray: #F0F2F8;
    --red: #F34141;
    --lightGreen: #EEF8F3;
    --green: #53B483;


    --btnRadius: 12px;
}



/* Common */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", serif;
}

.narrowContainer {
    width: 62% !important;
    margin: 0 auto;
}

.extraNarrowContainer {
    width: 50% !important;
    margin: 0 auto;
}

.mainBtn {
    outline: none;
    background-color: transparent;
    padding: 12px 40px;
    border-radius: var(--btnRadius);
    border: none;
    font-weight: 400;
    width: fit-content;
}

.blueBtn {
    background-color: var(--blue);
    color: var(--white)
}

.grayBorderBtn {
    border: 1px solid var(--lightGray);
    color: var(--blue);
}

.grayBtn {
    border: 1px solid var(--lightGray);
    color: var(--gray);
}

.darkGrayBtn {
    border: 1px solid var(--darkGray);
    background-color: var(--darkGray);
    color: var(--white);
}

.darkGrayBtn.disable {
    border: 1px solid var(--lightGray);
    background-color: var(--lightGray);
    color: var(--white);
}

.blueBorderBtn {
    border: 1px solid var(--blue);
    color: var(--blue);
}

.rounded {
    border-radius: 80px !important;
}

.halfRounded {
    border-radius: 80px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.halfRoundedReverse {
    border-radius: 80px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.mainInput {
    font-family: 'Segoe UI', sans-serif;
    position: relative;
}

.mainInput input {
    font-size: 16px;
    padding: 0.8em;
    padding-top: 1em;
    outline: none;
    border: 1px solid var(--lightGray);
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
}

.mainInput label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #0000004D
}

.mainInput :is(input:focus, input:valid)~label {
    transform: translateY(-18%) scale(.8);
    margin: 0em;
    margin-left: 0.3em;
    padding: 0.4em;
    border-radius: 10px;
}

.custom-select {
    position: relative;
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 0.8em;
    padding-top: 1em;
    border: 1px solid var(--lightGray);
    border-radius: 10px;
    color: #0000004D
}

.selected-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 20px;
}

.selected-option img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid var(--lightGray);
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.dropdown-options li {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-options li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.dropdown-options li:hover {
    background-color: #f0f0f0;
}
@media only screen and (max-width: 1200px) {
    .narrowContainer {
        width: 72% !important;
        margin: 0 auto;
    }
    
    .extraNarrowContainer {
        width: 60% !important;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 630px) {
    .narrowContainer {
        width: 85% !important;
        margin: 0 auto;
    }
    
    .extraNarrowContainer {
        width: 75% !important;
        margin: 0 auto;
    }
}


/* Navbar */


.navbar {
    box-shadow: 0px 4px 4px 0px #697FB40F;
    background-color: var(--white);
    position: sticky;
    z-index: 10;
    top: 0;
}

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.navItems {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.navItems a {
    color: var(--gray);
    text-decoration: none;
}

.loginActions {
    display: flex;
    gap: 10px;
}


/* Hero */

.hero {
    margin-top: 240px;
    font-family: "Space Grotesk", sans-serif;
    position: relative;
}

.hero .title {
    font-size: 72px;
    font-weight: 700;
    cursor: default;
    line-height: 78px;
}

.hero .subtitle {
    margin: 16px 0;
    color: var(--gray);
    font-size: 20px;
}

.heroImg {
    position: absolute;
    right: 0;
    top: -50px;
    width: 35%;
}


/* About */

.about {
    font-family: "Space Grotesk", sans-serif;
    margin-top: 250px;
}

.aboutContainer {
    display: flex;
    flex-wrap: wrap;
}

.about .title {
    font-size: 64px;
    color: var(--blue);
    font-weight: 700;
}

.about .subtitle {
    margin: 16px 0;
    color: var(--gray);
    font-size: 18px;
}

.cardContainer {
    display: flex;
}

.cardContainer .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardContainer .top .title {
    width: 55%;
    font-size: 24px;
    color: black;
    font-weight: 500;

}

.card {
    border: 0;
    padding: 72px;
    background-color: var(--cardGray);
    flex: 1;
}


/* Info section */

.infoContainer {
    display: flex;
    flex-wrap: wrap;
}

.infoContainer>div {
    margin: 100px 0;
}

.infoContainer .card {
    width: 486px;
    height: 680px;
    position: relative;
    padding: 0;
}

.infoContainer .card img {
    width: 373px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.infoContainer .infoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
    gap: 32px;
}

.infoContainer .infoText.second {
    align-items: start;
    text-align: start;
}

.infoContainer .infoText .title {
    font-size: 30px;
    font-weight: 700;
    color: var(--blue);
    width: 50%;
}

.infoContainer .infoText .subtitle {
    font-size: 18px;
    font-weight: 400;
    color: var(--gray);
    width: 65%;
    line-height: 30px;
}

.infoContainer .col-lg-6:last-child {
    display: flex;
    justify-content: end;
}

.infoContainer .col-lg-6:last-child .card {
    flex: none;
}


/* Download */

.download .card {
    display: flex;
    justify-content: center;
    gap: 140px;
    flex-direction: row;
    padding: 80px 0;
}

.download .card .title {
    font-size: 36px;
    font-weight: 700;
    color: var(--blue);
    line-height: 42px;
}

.download .card .subtitle {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 400;
    color: var(--gray);
    line-height: 26px;
}

.downloadBtn {
    cursor: pointer;
}


/* FAQ */

.FAQ {
    margin-top: 120px;
    box-shadow: 4px 4px 24px 0px #1F1F1F08;
    box-shadow: -4px -4px 24px 0px #00000008;
    padding: 80px;
}

.faqContainer .title {
    font-weight: 700;
    font-size: 32px;
    color: var(--blue);
}

.accordion {
    width: 100%;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #e7e7e7;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-item p {
    font-weight: 400;
    font-size: 18px;
}

.accordion-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.accordion-header:hover {
    background-color: #eaeaea;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    background-color: #fff;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.accordion-content p {
    margin: 15px 0;
}

.accordion-content.open {
    max-height: 200px;
    padding: 15px;
}

/* Contact */

.contact .card {
    padding: 96px 0;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
}

.contactContainer .left,
.contactContainer .right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contactContainer .left .title {
    font-weight: 700;
    font-size: 36px;
    color: var(--blue);
}

.contactContainer .left .subtitle {
    font-weight: 400;
    font-size: 18px;
    color: var(--gray);
    line-height: 26px;
}

.contactContainer .right .title {
    font-weight: 400;
    font-size: 18px;
    color: #c0c0c0;
}

.contactContainer .right .subtitle {
    font-weight: 500;
    font-size: 20px;
    color: #515151
}

/* Footer */

.footer {
    margin-top: 120px;
    background-color: var(--cardGray);
}

.copyright {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding-bottom: 24px;
    color: var(--gray);
}

.copyright span {
    color: var(--blue);
    font-weight: 500;
}

/* Popup */

.popupParent {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.719);
    z-index: 11;
}

.popup {
    position: absolute;
    background-color: var(--white);
    border-radius: 40px;
    padding: 53px 150px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popup.successs {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--lightGreen);
    color: var(--green);
}

.popup.successs .content {
    color: var(--green);
}

.popupCloseBtn {
    position: absolute;
    top: 53px;
    right: 60px;
    cursor: pointer;
}

.popup .title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.popup .subtitle {
    font-size: 18px;
    line-height: 26px;
    margin-top: 24px;
    font-weight: 400;
    color: var(--gray);
}

.popup button {
    width: 300px;
}

.customerInput {
    margin-top: 96px;
    margin-bottom: 48px;
    width: 300px;
}

/* Profile */

#profileBtn {
    display: flex;
    gap: 8px;
}

.tabPages {
    height: 46px;
    margin-top: 24px;
    border-bottom: 1px solid;
    color: var(--lightGray);
    display: flex;
}

.tabPages .tab {
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    cursor: pointer;
}

.tabPages .tab.active {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.tabPages .extraNarrowContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.profileForm .narrowContainer {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profileForm .title {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray);
}

.profileForm .narrowContainer button {
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 14px 16px;
}

.profileForm .narrowContainer img {
    width: 24px;
    height: 24px;
}

#logoutBtn {
    color: var(--red);
}


/* Withdraw Section */

.withdrawSection {
    margin-top: 18px;
}

.withdrawSection .narrowContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0;
}

.withdrawSection .narrowContainer .col-lg-6:nth-child(even) {
    padding-left: 6px;
}

.withdrawSection .narrowContainer .col-lg-6:nth-child(odd) {
    padding-right: 6px;
}

.withdrawCard {
    border: 1px solid var(--lightGray);
    border-radius: 8px;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.withdrawCard .title {
    font-size: 14px;
    font-weight: 400;
    color: var(--midGray);
}

.withdrawCard .info {
    font-weight: 500;
    font-size: 16px;
    color: var(--darkGray);
}

.narrowContainer.top>.col-lg-6 {
    display: flex;
    flex: 1;
}

.withdrawSection .narrowContainer .withdrawCard {
    flex: 1;
}

.historyBtn {
    cursor: pointer;
    color: #E9A23B;
    font-size: 16px;
    font-weight: 400;
}

.addAddressBtn {
    cursor: pointer;
    color: var(--blue);
    font-size: 16px;
    font-weight: 400;
}

.col-12 .withdrawCard {
    padding: 32px 32px;

}

.col-12 .withdrawCard input {
    border: none;
    outline: none;
    font-size: 32px;
    color: var(--darkGray);
    width: 100%;
}

.col-12 .withdrawCard input::-webkit-inner-spin-button,
.col-12 .withdrawCard input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.withdrawSection .narrowContainer .col-12 {
    margin-bottom: 12px;
}

.withdrawSection .narrowContainer .tag {
    border: 1px solid var(--lightGray);
    border-radius: 8px;
    padding: 10px 16px;
    color: var(--darkGray);
}

.bigCards {
    height: 294px;
    position: relative;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--white);
    border: 1px solid var(--lightGray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -63%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.refresh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -78%);
}

.whiteLine {
    background-color: var(--white);
    width: 60px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

@media only screen and (max-width: 1500px) {
    .withdrawCard {
        display: block;
        text-align: center;
    }

    .bigCards .withdrawCard {
        display: flex;
        text-align: start;
    }

    .addAddressBtn,
    .historyBtn {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 630px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .withdrawSection {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .narrowContainer.top{
        flex-direction: column;
    }

    .circle, .whiteLine{
        top: 22%;
        left: 50%;
        transform: translate(-45%, -50%);
    }
    .refresh{
        top: 22%;
        left: 50%;
        transform: translate(-40%, -50%);
    }

    .narrowContainer:last-of-type {
        flex: 1;
    }

    .col-12 .withdrawCard input {
        font-size: 16px;
    }

    .bigCards .withdrawCard {
        padding: 6px 16px;
    }

    .withdrawBtn {
        align-items: end;
    }

    #withdrawBtn {
        width: 100%;
        height: 50px;
    }
}

/* Transaction History */
.history{
    margin-top: 24px;
}

.dailyCard{
    margin-top: 24px;
}

.history .top{
    display: flex;
    justify-content: space-between;
}

.history .top .left{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    font-weight: 500;
}

.dailyCard .date, .dailyCard .time{
    font-size: 12px;
    color: var(--midGray);
}

.historyRow{
    display: flex;
    justify-content: space-between;
}

.historyRow .name{
    color: var(--darkGray);
    font-weight: 400;
    font-size: 14px;
}

.historyRow .transaction{
    font-size: 14px;
    font-weight: 500;
    color: var(--darkGray);
}

.historyRow .left{
    display: flex;
    gap: 5px;
}

.historyRow .right{
    text-align: end;
}

.historyRow .right .status{
    font-size: 14px;
    font-weight: 500;
}

.historyRow{
    padding: 17px 0;
}

.historyRow .accepted{
    color: #697FB4;
}
.historyRow .pending{
    color: #E9A23B;
}
.historyRow .rejected{
    color: #F34141;
}


